<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ExaminationSystem" connectionString="Server=db13113.public.databaseasp.net; Database=db13113; User Id=db13113; Password=Xc9?=Nx87j@M; Encrypt=True; TrustServerCertificate=True;"/>
  </connectionStrings>
</configuration>